* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(bg.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width: auto;
  height: 250px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 3px;
}
#timer {
  width: 100%;
  font-size: 72px;
  text-align: center;
  margin: 0px auto;
  padding: 35px;
}
#buttons {
  text-align: center;
}
button {
  margin: 0 10px;
  border: none;
}
button i {
  font-size: 2rem;
  padding: 10px;
  color: white;
}
#play {
  background-color: green;
  width: 52px;
}
#pause {
  background-color: orange;
  width: 52px;
}
#reset {
  background-color: red;
}
@media (min-width: 300px) and (max-width: 700px) {
  #timer {
    font-size: 52px;
  }
  button i {
    font-size: 1.7rem;
  }
  #pause,
  #play,
  #reset {
    width: 45px;
  }
  #container {
    height: 200px;
  }
}
